= link_to url, :class => "card #{type}" do
	.image{:style => "background-image: url(/images/#{image});"}
	- if locals.has_key?("label")
		- labelData = data[config[:client]].content.cards.labels[label]
		- if label == "brand"
			.label{:style => "background: #{labelData.color};"}
				= image_tag labelImage
		- else
			%h5{:class => "label", :style => "background: #{labelData.color}; color: #{labelData.text}"}
				= labelData.title
	.content
		- if type == "full"
			.heart
		%h1= title
		- if locals.has_key?("subtitle")
			%h2= subtitle
		%footer
			%div
				- if locals.has_key?("category")
					%p.category= category
				- if locals.has_key?("data")
					%ul
						%li= date.day
						%li= date.time
				- if locals.has_key?("meta")
					%ul
						= partial "shared/ui/stars", :locals => { :stars => meta.stars }
						%li= meta.location
						- if meta.has_key?("type")
							%li= meta.type
				- if locals.has_key?("benefits")
					%p.benefits= benefits
				- if locals.has_key?("description")
					%p.description= description
				- if locals.has_key?("price")
					.price
						%p.price-status= price.status
						%p.price-value= price.value
			- if type != "full"
				.heart