---
title: Search
---

= partial "shared/travel/travel_progress", :locals => { :title => "Cars", :sections => ["Results", "Details", "Options"], :selectedIndex => 0 }
= partial "shared/search/search_summary", :locals => { :title => "LHR - NYC", :subtitle => "Undertime of all" }
= partial "shared/ui/filters_cars"
= partial "shared/cards/card_grid", :locals => { :cards => data.travel.car_search_results, :title => "Results", :type => "basic" }
= partial "shared/articles/article_grid", :locals => { :cards => data.articles.travel,  :title => "Recommended travel articles", :total => 6 }