%html{:lang => "en"}
  %head
    %title= current_page.data.title || "Ten Product"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, height=device-height,  maximum-scale=1.0, target-densityDpi=device-dpi"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    = stylesheet_link_tag "client/#{config[:client]}"
    

  %body
    = partial "structure/header"
    = yield
    = partial "structure/footer"
    = partial "structure/main_menu"
    = partial "structure/overlay"

    = javascript_include_tag "site"
