---
title: Notifications
---

- content = data[config[:client]].content.activities

#profile-page

	= partial "shared/profile/nav", :locals => {:selectedIndex => 1}

	%div
		%section#upcoming-activities.header-panel
			%header
				%h2 Upcoming activites

			%ul
				- content.upcoming.each do |activity|
					%li
						%h5= activity.date
						%p= activity.label
						%h3= activity.title
						%p.meta= activity.meta


		%section#previous-activities.main-panel
			%div
				%header
					%h2 Previous activites

				%ul
					- content.past.each do |activity|
						%li
							%h5= activity.date
							%p= activity.label
							%h3= activity.title
							%p.meta= activity.meta