.profile-card.traveller
	%div
		%h4= name
		%ul
			%li
				%p Nationality
				%div
					= image_tag flag
					%p= nationality
			%li
				%p Passport
				%div
					%p= passport
			%li
				%p Frequent flyer
				%div
					= image_tag frequentFlyer.logo
					%p= frequentFlyer.number
		.edit edit