---
title: Home
---

= partial "shared/hero/hero", :locals => { :content => data[config[:client]].content, :type => "basic" }
= partial "shared/travel/travel_search"
= partial "shared/cards/card_grid", :locals => { :cards => data.cards.recommend_home, :title => "Recommended for you", :type => "basic" }
= partial "shared/cards/card_grid", :locals => { :cards => data.cards.recommend_new, :title => "New to London", :type => "zebra" }
= partial "shared/articles/article_grid", :locals => { :cards => data.articles.mixture,  :title => "Recommended articles", :total => 2 }